{
  "plugins": [
    [
      "module-resolver",
      {
        "root": "./src",
        "alias": {
          "~": "./src"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": ["@babel/preset-env"]
    }
  }
}
