{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "add-module-exports",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "@babel/transform-regenerator",
    "@babel/transform-runtime",
    [
      "module-resolver",
      {
        "root": "./src",
        "alias": {
          "~": "./src"
        }
      }
    ]
  ]
}
