{
  "env": {
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "rules": {
    "no-console": "error"
  }
}
