{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "parser": "@babel/eslint-parser",
  "plugins": ["prettier"],
  "rules": {
    "no-console": "error"
  },
  "globals": {
    "globalThis": false
  }
}
